@use '../helper' as *;

.companies {
    &__wrapper {
        border-top: 1px solid var(--color-grey-15);
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        place-items: center;
        column-gap: 20px;

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 0;
        }
    }

    &__item {
        @include flex-center(true);
        width: 100%;
        padding-block: 40px;

        @include tablet {
            &:nth-child(even) {
                border: 1px solid var(--color-grey-15);
                border-top: none;
                border-right: none;
            }

            &:nth-child(odd) {
                border: 1px solid var(--color-grey-15);
                border-top: none;
                border-left: none;
            }

            &::nth-last-child(-n + 2) {
                border-bottom: none;
            }
        }
    }

    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        translate: -50% -50%;
        color: var(--color-green-99);
        font-weight: 500;
        max-width: 286px;
        width: 100%;
        text-align: center;
        padding-block: 20px;
        padding-inline: 34px;
        border-radius: 100px;
        border: 1px solid var(--color-grey-15);
        background-color: var(--color-grey-10);

        @include tablet {
            font-size: 14px;
            padding-block: 14px;
            padding-inline: 24px;
        }
    }
}