@use '../helper' as *;

.header {
    position: fixed;
    z-index: 10;
    width: 100%;
    padding-block: 30px;
    border-bottom: 1px solid var(--color-grey-15);
    transition-duration: var(--transition-duration);

    &.is-active {
        padding-block: 20px;
    }

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 11;
        width: 100%;
        height: 100%;
        background-color: var(--color-grey-10);
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        position: relative;
        z-index: 12;
    }

    &__menu {
        position: relative;
        z-index: 12;

        @include tablet {
            position: absolute;
            top: 0;
            left: 0;
            translate: -110% 0;
            z-index: 10;
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 30px;
            width: 100vw;
            height: 100vh;
            padding-block: 120px 30px;
            padding-inline: var(--container-padding-x);
            transition-duration: var(--transition-duration-alt);
            -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(100px);
            background-image: linear-gradient(#191919 30%, rgba($color: #242424, $alpha: 0.2) 50%);

            &.is-active {
                translate: 0 0;
            }
        }
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 30px;

        @include laptop {
            column-gap: 24px;
        }

        @include tablet {
            width: 100%;
            flex-direction: column;
            row-gap: 20px;
        }

        @include mobile-s {
            row-gap: 10px;
        }
    }

    &__item {
        @include tablet {
            width: 100%;
            text-align: center
        }
    }

    &__link {
        @include fluid-text(14, 18);
        padding-block: 14px;
        padding-inline: 28px;
        border-radius: 6px;

        &.is-current {
            color: var(--color-white);
            cursor: default;
            pointer-events: none;
            background-color: var(--color-grey-15);
        }

        @include laptop {
            padding-block: 12px;
            padding-inline: 22px;
        }

        @include tablet {
            @include flex-center(true);
            @include fluid-text(14, 20, 767);
            width: 30%;
        }

        @include mobile-s {
            width: 40%;
        }

        @include hover {
            color: var(--color-green-50);
        }
    }

    &__button-wrapper {
        position: relative;
        z-index: 12;
        display: flex;
        align-items: center;
        column-gap: 15px;
    }
}