@use '../helper' as *;

.our-service {

    &__header {
        position: relative;
        padding-block: 120px;
        padding-inline: 10px;
        overflow: hidden;
        text-align: center;
        border-bottom: 1px solid var(--color-grey-15);

        &-background {
            &-color {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                &--green {
                    z-index: -4;
                    background-color: rgba($color: #142000, $alpha: 0.4);
                }

                &--dark {
                    z-index: -3;
                    background-color: rgba($color: #000, $alpha: 0.6);
                }
            }
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
            place-items: center;
        }

        @include mobile {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        &:not(:last-child) {
            border-right: 1px solid var(--color-grey-15);

            @include tablet {
                border-bottom: 1px solid var(--color-grey-15);
            }

            @include mobile {
                border-right: none;
            }
        }

        &:nth-child(2) {
            @include tablet {
                border-right: none;
            }
        }

        &:last-child {
            @include tablet {
                grid-column: span 2;
            }

            @include mobile {
                grid-column: 1;
            }
        }
    }

    &__article {
        max-width: 532px;
        width: 100%;
        padding: 50px;
        display: flex;
        flex-direction: column;
        row-gap: 40px;

        @include laptop {
            padding: 30px;
            row-gap: 30px;
        }

        &-info {
            height: 230px;
            margin-bottom: 64px;

            @include laptop {
                margin-bottom: 54px;
            }
        }

        &-title {
            margin-bottom: 20px;

            @include laptop {
                margin-bottom: 14px;
            }
        }

        &-image {
            --sizeImage: 88px;

            width: var(--sizeImage);
            height: var(--sizeImage);

            @include laptop {
                --sizeImage: 70px;
            }

            @include mobile-s {
                --sizeImage: 58px;
            }

            &--design {
                background: url('/icons/brush--our-service.png') center/100% no-repeat;
            }

            &--engineering {
                background: url('/icons/engineering--our-service.png') center/100% no-repeat;
            }

            &--project-management {
                background: url('/icons/management--our-service.png') center/100% no-repeat;
            }
        }
    }
}