@use '../helper' as *;

.title-block {
    position: relative;
    padding-block: 120px;
    padding-inline: 10px;
    text-align: center;
    overflow: hidden;
    border-bottom: 1px solid var(--color-grey-15);

    &__background {
        &-color {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            &--green {
                z-index: -4;
                background-color: rgba($color: #142000, $alpha: 0.4);
            }

            &--dark {
                z-index: -3;
                background-color: rgba($color: #000, $alpha: 0.6);
            }
        }
    }
}