@use 'fonts';
@use 'normalize';
@use 'variables';
@use 'globals';
@use 'utils';

@use 'blocks/button';
@use 'blocks/logo';
@use 'blocks/burger-button';
@use 'blocks/background-image';
@use 'blocks/title-block';

@use 'blocks/header';
@use 'blocks/welcome';
@use 'blocks/companies';
@use 'blocks/our-service';
@use 'blocks/advantages';