@charset "UTF-8";
@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
   Упрощаем работу с изображениями и видео
  */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  height: 100%;
  /**
   Убираем скачок интерфейса по горизонтали
   при появлении / исчезновении скроллбара
  */
}

/**
   Плавный скролл
  */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  min-height: 100%;
  /**
   Унифицированный интерлиньяж
  */
  line-height: 1.5;
}

/**
   Нормализация высоты элемента ссылки при его инспектировании в DevTools
  */
a:where([class]) {
  display: inline-flex;
}

/**
   Курсор-рука при наведении на элемент
  */
button,
label {
  cursor: pointer;
}

/**
   Приводим к единому цвету svg-элементы
   (за исключением тех, у которых уже указан
   атрибут fill со значением 'none' или начинается с 'url')
  */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
   Приводим к единому цвету svg-элементы
   (за исключением тех, у которых уже указан
   атрибут stroke со значением 'none')
  */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  transition-property: fill, stroke;
}

/**
   Приведение рамок таблиц в классический 'collapse' вид
  */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --font-family: "Barlow", sans-serif;
  --color-white: #fff;
  --color-black: #000;
  --color-green-50: #9EFF00;
  --color-green-60: #B1FF33;
  --color-green-70: #C5FF66;
  --color-green-80: #D8FF99;
  --color-green-90: #ECFFCC;
  --color-green-95: #F5FFE5;
  --color-green-97: #F9FFF0;
  --color-green-99: #FDFFFA;
  --color-grey-10: #191919;
  --color-grey-15: #262626;
  --color-grey-20: #333333;
  --color-grey-30: #4C4C4D;
  --color-grey-35: #59595A;
  --color-grey-40: #656567;
  --color-grey-60: #98989A;
  --color-grey-90: #E6E6E6;
  --color-blur: rgba($color: #242424, $alpha: 0.2);
  --container: 1596px;
  --container-padding-x: 80px;
}
@media (max-width: 1440px) {
  :root {
    --container: 1280px;
  }
}
@media (max-width: 767px) {
  :root {
    --container-padding-x: 50px;
  }
}
@media (max-width: 480px) {
  :root {
    --container: 358px;
    --container-padding-x: 20px;
  }
}
:root {
  --transition-duration: 0.2s;
  --transition-duration-alt: 0.4s;
}

html.is-lock {
  overflow: hidden;
}

body {
  font-size: clamp(16px, 0.9375vw, 18px);
  font-family: var(--font-family);
  color: var(--color-grey-90);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.006em;
  background-color: var(--color-grey-10);
}
@media (max-width: 1440px) {
  body {
    font-size: clamp(14px, 1.1111111111vw, 16px);
  }
}

a,
button,
input,
textarea,
label {
  color: var(--color-grey-90);
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  transition-duration: var(--transition-duration);
}

h1, .h1,
h2, .h2,
h3, .h3 {
  color: var(--color-white);
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0;
}

h4, .h4,
h5, .h5,
h6, .h6 {
  line-height: 1.5;
}

h1, .h1 {
  font-size: clamp(48px, 3.5416666667vw, 68px);
}
@media (max-width: 1440px) {
  h1, .h1 {
    font-size: clamp(34px, 3.3333333333vw, 48px);
  }
}

h2, .h2 {
  font-size: clamp(38px, 2.5vw, 48px);
  margin-bottom: 14px;
}
@media (max-width: 1440px) {
  h2, .h2 {
    font-size: clamp(28px, 2.6388888889vw, 38px);
  }
}

h3, .h3 {
  font-size: clamp(30px, 1.9791666667vw, 38px);
}
@media (max-width: 1440px) {
  h3, .h3 {
    font-size: clamp(24px, 2.0833333333vw, 30px);
  }
}

.container {
  position: relative;
  max-width: calc(var(--container) + var(--container-padding-x) * 2);
  width: 100%;
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}
.container--no-relative {
  position: static;
}

.wrapper {
  position: relative;
}

.border {
  border: 1px solid var(--color-grey-15);
  border-top: none;
}

@media (max-width: 1024px) {
  .hidden-tablet {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (max-width: 480px) {
  .hidden-mobile-s {
    display: none !important;
  }
}

@media (min-width: 1024.1px) {
  .visible-tablet {
    display: none !important;
  }
}

@media (min-width: 767.1px) {
  .visible-mobile {
    display: none !important;
  }
}

@media (min-width: 480.1px) {
  .visible-mobile-s {
    display: none !important;
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.button {
  font-size: clamp(14px, 0.9375vw, 18px);
  color: var(--color-grey-15);
  font-weight: 500;
  line-height: 1.5;
  height: 63px;
  padding-block: 18px;
  padding-inline: 20px;
  border-radius: 6px;
  border: 1px solid var(--color-green-50);
  background-color: var(--color-green-50);
}
@media (max-width: 1440px) {
  .button {
    font-size: 14px;
  }
}
@media (any-hover: hover) {
  .button:hover {
    color: var(--color-green-50);
    background-color: transparent;
  }
}
@media (any-hover: none) {
  .button:active {
    color: var(--color-green-50);
    background-color: transparent;
  }
}
.button--grey {
  color: var(--color-white);
  border-color: var(--color-grey-15);
  background-color: var(--color-grey-15);
}
.button--header {
  height: 59px;
  padding-block: 16px;
  padding-inline: 24px;
}
@media (max-width: 1440px) {
  .button--header {
    height: 45px;
    padding-block: 12px;
    padding-inline: 18px;
  }
}
@media (max-width: 480px) {
  .button--header {
    width: 100%;
  }
}
.button--welcome {
  padding-block: 18px;
  padding-inline: 28px;
}
@media (max-width: 1440px) {
  .button--welcome {
    font-size: 14px;
    height: 50px;
    padding-block: 14px;
    padding-inline: 20px;
  }
}
.button--dark {
  color: var(--color-white);
  border-color: var(--color-grey-20);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  background-color: var(--color-blur);
}
@media (any-hover: hover) {
  .button--dark:hover {
    border-color: var(--color-green-50);
  }
}
@media (any-hover: none) {
  .button--dark:active {
    border-color: var(--color-green-50);
  }
}
.button--start {
  padding-inline: 24px;
}
.button--submit {
  padding-inline: 36px;
}

.logo {
  width: 178px;
  height: 60px;
  flex-shrink: 0;
}
@media (max-width: 1440px) {
  .logo {
    width: 119px;
    height: 40px;
  }
}
@media (any-hover: hover) {
  .logo:hover {
    opacity: 0.8;
  }
}
@media (any-hover: none) {
  .logo:active {
    opacity: 0.8;
  }
}

.burger-button {
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: end;
  border-radius: 6px;
  padding: 10px;
  background-color: var(--color-grey-15);
}
.burger-button.is-active .burger-button__span::before {
  rotate: -45deg;
  translate: 0px 6px;
}
.burger-button.is-active .burger-button__span::after {
  width: 24px;
  rotate: 45deg;
  translate: -12px -6px;
}
.burger-button.is-active .burger-button__span-deep {
  width: 0;
}
.burger-button__span {
  position: relative;
  width: 24px;
  height: 2px;
  display: block;
  border-radius: 6px;
  pointer-events: none;
  transition-duration: var(--transition-duration-alt);
}
.burger-button__span-deep {
  width: 24px;
  height: 2px;
  display: block;
  background-color: var(--color-green-80);
}
.burger-button__span::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  width: 24px;
  height: 100%;
  border-radius: 6px;
  background-color: var(--color-green-80);
  transition-duration: var(--transition-duration-alt);
}
.burger-button__span::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 50%;
  width: 12px;
  height: 100%;
  border-radius: 6px;
  background-color: var(--color-green-80);
  transition-duration: var(--transition-duration-alt);
}

.background-image {
  position: absolute;
}
.background-image--grow {
  width: 1596px;
  top: 100%;
  left: 50%;
  z-index: -1;
  translate: -50% -100%;
  height: 448px;
  background: url("/images/bg-vector--welcome.png") center/100% no-repeat;
}
@media (max-width: 1440px) {
  .background-image--grow {
    width: 1488px;
    height: 406px;
  }
}
@media (max-width: 1024px) {
  .background-image--grow {
    width: 1118px;
    height: 304px;
  }
}
.background-image--grid {
  width: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  translate: 0 6px;
  height: 1000px;
  background: url("/images/background-image--welcome.png") center/cover no-repeat;
}
.background-image--waves {
  width: 100%;
  top: -280px;
  left: 0;
  z-index: -5;
  opacity: 0.3;
  height: 897px;
  background: url("/images/bg-waves--our-service-alt.png") center/cover no-repeat;
}
.title-block {
  position: relative;
  padding-block: 120px;
  padding-inline: 10px;
  text-align: center;
  overflow: hidden;
  border-bottom: 1px solid var(--color-grey-15);
}
.title-block__background-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.title-block__background-color--green {
  z-index: -4;
  background-color: rgba(20, 32, 0, 0.4);
}
.title-block__background-color--dark {
  z-index: -3;
  background-color: rgba(0, 0, 0, 0.6);
}

.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  padding-block: 30px;
  border-bottom: 1px solid var(--color-grey-15);
  transition-duration: var(--transition-duration);
}
.header.is-active {
  padding-block: 20px;
}
.header__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  background-color: var(--color-grey-10);
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  position: relative;
  z-index: 12;
}
.header__menu {
  position: relative;
  z-index: 12;
}
@media (max-width: 1024px) {
  .header__menu {
    position: absolute;
    top: 0;
    left: 0;
    translate: -110% 0;
    z-index: 10;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    width: 100vw;
    height: 100vh;
    padding-block: 120px 30px;
    padding-inline: var(--container-padding-x);
    transition-duration: var(--transition-duration-alt);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(100px);
    background-image: linear-gradient(#191919 30%, rgba(36, 36, 36, 0.2) 50%);
  }
  .header__menu.is-active {
    translate: 0 0;
  }
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}
@media (max-width: 1440px) {
  .header__list {
    column-gap: 24px;
  }
}
@media (max-width: 1024px) {
  .header__list {
    width: 100%;
    flex-direction: column;
    row-gap: 20px;
  }
}
@media (max-width: 480px) {
  .header__list {
    row-gap: 10px;
  }
}
@media (max-width: 1024px) {
  .header__item {
    width: 100%;
    text-align: center;
  }
}
.header__link {
  font-size: clamp(14px, 0.9375vw, 18px);
  padding-block: 14px;
  padding-inline: 28px;
  border-radius: 6px;
}
.header__link.is-current {
  color: var(--color-white);
  cursor: default;
  pointer-events: none;
  background-color: var(--color-grey-15);
}
@media (max-width: 1440px) {
  .header__link {
    padding-block: 12px;
    padding-inline: 22px;
  }
}
@media (max-width: 1024px) {
  .header__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(14px, 2.6075619296vw, 20px);
    width: 30%;
  }
}
@media (max-width: 480px) {
  .header__link {
    width: 40%;
  }
}
@media (any-hover: hover) {
  .header__link:hover {
    color: var(--color-green-50);
  }
}
@media (any-hover: none) {
  .header__link:active {
    color: var(--color-green-50);
  }
}
.header__button-wrapper {
  position: relative;
  z-index: 12;
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.welcome {
  overflow: hidden;
}
@media (max-width: 480px) {
  .welcome {
    position: relative;
    border-bottom: 1px solid var(--color-grey-15);
  }
}
.welcome__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
  row-gap: 40px;
  padding-block: 262px 274px;
}
@media (max-width: 480px) {
  .welcome__wrapper {
    border: none;
  }
}
.welcome__info {
  font-size: clamp(18px, 1.1458333333vw, 22px);
  color: var(--color-grey-60);
  height: auto;
  line-height: 1.5;
  letter-spacing: 0;
  margin-bottom: 10px;
  padding-block: 36px;
  padding-inline: 40px;
  border-radius: 12px;
  border: 1px solid var(--color-grey-20);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-color: var(--color-blur);
}
@media (max-width: 1440px) {
  .welcome__info {
    padding-block: 26px;
    padding-inline: 30px;
  }
}
@media (max-width: 767px) {
  .welcome__info {
    font-size: clamp(16px, 2.5714285714vw, 18px);
    text-align: center;
    padding-block: 18px;
    padding-inline: 20px;
  }
}
.welcome__info-word {
  color: var(--color-white);
  padding-block: 12px;
  padding-inline: 14px;
  border-radius: 8px;
  background-color: var(--color-grey-15);
}
@media (max-width: 1440px) {
  .welcome__info-word {
    padding-block: 8px;
    padding-inline: 10px;
  }
}
@media (max-width: 1024px) {
  .welcome__info-word {
    color: inherit;
    padding: 0;
    text-transform: lowercase;
    background-color: transparent;
  }
}
.welcome__info-wrapper {
  padding-inline: 16px;
}
.welcome__title {
  font-size: clamp(34px, 4.5714285714vw, 48px);
  max-width: 700px;
  width: 100%;
  padding-inline: 16px;
  text-align: center;
}
.welcome__button-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
}

.companies__wrapper {
  border-top: 1px solid var(--color-grey-15);
}
.companies__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  place-items: center;
  column-gap: 20px;
}
@media (max-width: 1024px) {
  .companies__list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0;
  }
}
.companies__item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-block: 40px;
}
@media (max-width: 1024px) {
  .companies__item:nth-child(even) {
    border: 1px solid var(--color-grey-15);
    border-top: none;
    border-right: none;
  }
  .companies__item:nth-child(odd) {
    border: 1px solid var(--color-grey-15);
    border-top: none;
    border-left: none;
  }
  .companies__item::nth-last-child(-n + 2) {
    border-bottom: none;
  }
}
.companies__info {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% -50%;
  color: var(--color-green-99);
  font-weight: 500;
  max-width: 286px;
  width: 100%;
  text-align: center;
  padding-block: 20px;
  padding-inline: 34px;
  border-radius: 100px;
  border: 1px solid var(--color-grey-15);
  background-color: var(--color-grey-10);
}
@media (max-width: 1024px) {
  .companies__info {
    font-size: 14px;
    padding-block: 14px;
    padding-inline: 24px;
  }
}

.our-service__header {
  position: relative;
  padding-block: 120px;
  padding-inline: 10px;
  overflow: hidden;
  text-align: center;
  border-bottom: 1px solid var(--color-grey-15);
}
.our-service__header-background-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.our-service__header-background-color--green {
  z-index: -4;
  background-color: rgba(20, 32, 0, 0.4);
}
.our-service__header-background-color--dark {
  z-index: -3;
  background-color: rgba(0, 0, 0, 0.6);
}
.our-service__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1024px) {
  .our-service__list {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}
@media (max-width: 767px) {
  .our-service__list {
    grid-template-columns: 1fr;
  }
}
.our-service__item:not(:last-child) {
  border-right: 1px solid var(--color-grey-15);
}
@media (max-width: 1024px) {
  .our-service__item:not(:last-child) {
    border-bottom: 1px solid var(--color-grey-15);
  }
}
@media (max-width: 767px) {
  .our-service__item:not(:last-child) {
    border-right: none;
  }
}
@media (max-width: 1024px) {
  .our-service__item:nth-child(2) {
    border-right: none;
  }
}
@media (max-width: 1024px) {
  .our-service__item:last-child {
    grid-column: span 2;
  }
}
@media (max-width: 767px) {
  .our-service__item:last-child {
    grid-column: 1;
  }
}
.our-service__article {
  max-width: 532px;
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
@media (max-width: 1440px) {
  .our-service__article {
    padding: 30px;
    row-gap: 30px;
  }
}
.our-service__article-info {
  height: 230px;
  margin-bottom: 64px;
}
@media (max-width: 1440px) {
  .our-service__article-info {
    margin-bottom: 54px;
  }
}
.our-service__article-title {
  margin-bottom: 20px;
}
@media (max-width: 1440px) {
  .our-service__article-title {
    margin-bottom: 14px;
  }
}
.our-service__article-image {
  --sizeImage: 88px;
  width: var(--sizeImage);
  height: var(--sizeImage);
}
@media (max-width: 1440px) {
  .our-service__article-image {
    --sizeImage: 70px;
  }
}
@media (max-width: 480px) {
  .our-service__article-image {
    --sizeImage: 58px;
  }
}
.our-service__article-image--design {
  background: url("/icons/brush--our-service.png") center/100% no-repeat;
}
.our-service__article-image--engineering {
  background: url("/icons/engineering--our-service.png") center/100% no-repeat;
}
.our-service__article-image--project-management {
  background: url("/icons/management--our-service.png") center/100% no-repeat;
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.advantages__item:nth-child(odd) {
  border-right: 1px solid var(--color-grey-15);
}
.advantages__item:nth-child(1), .advantages__item:nth-child(2) {
  border-bottom: 1px solid var(--color-grey-15);
}
.advantages__article {
  max-width: 800px;
  width: 100%;
  padding: 80px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
@media (max-width: 1440px) {
  .advantages__article {
    padding: 60px;
    row-gap: 30px;
  }
}
.advantages__article-header {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.advantages__article-header-image {
  --sizeImage: 88px;
  width: var(--sizeImage);
  height: var(--sizeImage);
}
@media (max-width: 1440px) {
  .advantages__article-header-image {
    --sizeImage: 70px;
  }
}
@media (max-width: 480px) {
  .advantages__article-header-image {
    --sizeImage: 58px;
  }
}
.advantages__article-header-image--expertise {
  background: url("/icons/expertise--advantages.png") center/100% no-repeat;
}
.advantages__article-header-image--approach {
  background: url("/icons/approach--advantages.png") center/100% no-repeat;
}
.advantages__article-header-image--solutions {
  background: url("/icons/solutions--advantages.png") center/100% no-repeat;
}
.advantages__article-header-image--partnership {
  background: url("/icons/partnership--advantages.png") center/100% no-repeat;
}

/*# sourceMappingURL=main.css.map */
