$desktop-above: 1920.1px;
$desktop: 1920px;
$laptop-above: 1440.1px;
$laptop: 1440px;
$tablet-above: 1024.1px;
$tablet: 1024px;
$mobile-above: 767.1px;
$mobile: 767px;
$mobile-s-above: 480.1px;
$mobile-s: 480px;

@mixin desktop-above {
    @media(min-width: $desktop-above) {
        @content;
    }
}

@mixin desktop {
    @media(max-width: $desktop) {
        @content;
    }
}

@mixin laptop-above {
    @media(min-width: $laptop-above) {
        @content;
    }
}

@mixin laptop {
    @media(max-width: $laptop) {
        @content;
    }
}

@mixin tablet-above {
    @media(min-width: $tablet-above) {
        @content;
    }
}

@mixin tablet {
    @media(max-width: $tablet) {
        @content;
    }
}

@mixin mobile-above {
    @media(min-width: $mobile-above) {
        @content;
    }
}

@mixin mobile {
    @media(max-width: $mobile) {
        @content;
    }
}

@mixin mobile-s-above {
    @media(min-width: $mobile-s-above) {
        @content;
    }
}

@mixin mobile-s {
    @media(max-width: $mobile-s) {
        @content;
    }
}

@mixin hover($hasActiveOnMobile: true) {
    @media(any-hover: hover) {
        &:hover {
            @content;
        }
    }

    @if($hasActiveOnMobile) {
        @media(any-hover: none) {
            &:active {
                @content;
            }
        }
    }
}